<header class="fade-in">
<section class="container-section">
    <img src="gratisography-mountain-peaks-thumbnail.jpg">
    <div class="info-content">
        <ul>
            <li>
                <a href="https://github.com/shivangiv" target="_blank">
                    <i class="fab fa-github-alt"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/shivangi-vashi" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/og_shivangi" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
        <h2>vashi.s@northeastern.edu</h2>
    </div>
    <h1>Shivangi Vashi<span>Analytics</span></h1>
</section>
</header>
