{% include head.html %}
<body>
    {% include header.html %}
    <main id="main">
        <!-- Portfolio Section -->
        <section class="container-section fade-in">
            {% for post in site.categories.projects %}
            <div class="card">
                <div class="card-content">
                    <a href="{{ post.url }}">
                        <img class="image-portfolio" src="{{ post.img-preview }}" alt="image" id="{{ "-modal-button" | prepend: forloop.index }}">
                    </a>
                    <h2>{{ post.title }}</h2>      
                </div>
            </div>
            {% endfor %}
        </section>

    </main>
    {% include footer.html %}
</body>
<script src="/assets/js/modal.js"></script>
<script src="/assets/js/resizecards.js"></script>
</html>